/* Style Nav Header Start  */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #D8D8D8;
    height: 35px;
}

.datenow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav span, .nav p {
    font-size: 13px;
    margin-right: 15px;
    font-weight: bold;
}

/* Style Nav Header End  */