/* Style Nav Header Start  */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #D8D8D8;
    height: 35px;
}

.datenow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav span {
    font-size: 13px;
    margin-right: 15px;
    font-weight: bold;
    color: rgb(94, 18, 18)
}

/* Style Nav Header End  */

/* ================================================================== */
/* Style Navbar Start  */

.navbar {
    height: 70px;
    background-color: rgb(255, 255, 255);
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.navbar .logo img {
    width: 125px;
}
.navbar .menu {
    margin-left: 50px;
}
.navbar .search {
    margin-left: 50px;
}
.navbar .user {
    right: 0;
    margin-right: 230px;
    position: absolute;
}
.navbar .cart {
    position: absolute;
    right: 0;
    margin-right: 50px;
}
/* Style Navbar End  */
/* ================================================================== */
