/* Nav Styles  */
.nav {
    width: 100%;
    height: 30px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EDEAEA;
}

.nav span {
    font-size: 12px;
    color:rgb(138, 24, 24);
    font-weight: bold;

}
/* Nav Styles  */

 /* =====================================================  */

/* Navbar styles  */

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 70px;
}

.navbar .logo img {
    width: 110px;
}

.navbar .link__navigation_a ul {
    display: flex;
}
.navbar .link__navigation_a ul li {
    margin-left: 15px;
}
.navbar .link__navigation_a ul li a {
    font-size: 14px;
    color: #303030;
}
.navbar .link_auth_a ul {
    display: flex;
}
.navbar .link_auth_a ul li {
    margin-left: 15px;
}
.navbar .link_auth_a ul li a {
    font-size: 14px;
    color: #303030;
}
.navbar .active_bold {
    font-weight: bold;
}
/* Navbar styles  */

/* Search styles  */


.search {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 50px;
    background-color: #EB2121;
}

.search .cartForm {
    background-color: #303030;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 50px;
}
.search .cartForm input {
    height: 100%;
    border: none;
    padding-left: 20px;
    width: 400px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    outline: none;

}
.search .cartForm button {
    outline: none;
    border: none;
    background-color: #b3adad;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.search .cartForm button img {
    width: 20px;
    height: 20px;
}
/* Search styles  */
